# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.pytest_cache/

# Env
.venv/
.env/
*.conda

# Jupyter
.ipynb_checkpoints/

# Outputs
outputs/grids/*.hdf5
outputs/p1d/*.npz
outputs/plots/*

# OS/editor
.DS_Store
.vscode/

/outputs